# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
.env
.env.*
!.env.example

# Node
node_modules/
dist/
.DS_Store

# Docker
.docker/

# IDE
.vscode/
.idea/

# Données sensibles
*.key
*.pem

# Données brutes ou exportées
postalytics/data_pipeline/data/raw/
postalytics/data_pipeline/data/processed/*.csv
